body {
    text-align: justify;
    width: 45%;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 185);    
}
h1 {
    border-style: solid;
    border-color: red;
}
img {
    height: auto;
    width: 400px;
}
p,
ul,
ol {
    font-size: 18px;
}
